* {
    box-sizing: border-box;
}

 body {
     background-color: #444;
     color: white;
 }

 .flex-container {
     display: flex;
     justify-content: space-around;
     font-family: 'Raleway', sans-serif;
     max-width: 1440px;
 }

 .flex-container > div {
  margin: 30px;
  text-align: center;
  width: 250px;
  line-height: 30px;
  font-size: 16px;
  background-color: chartreuse
 }

 .left {
     min-width: 30%;
    text-align: center;
    padding: 10px 0px;
 }

 .flex-container a {
     color: white;
     text-decoration: none;
     
 }


 

 
