* {
    box-sizing: border-box;
}

 body {
     background-color: #444;
     color: white;
 }

 .flex-container {
     display: flex;
     justify-content: space-around;
     font-family: 'Raleway', sans-serif;
     max-width: 1440px;
 }

 .flex-container > div {
  margin: 30px;
  padding: 20px;
  text-align: center;
  width: 500px;
  font-size: 16px;
 }

 

 

 .right > ul li a {
     padding: 0px 10px;
     margin: 0px 40px;
     text-decoration: none;
     color: white;
     
     
 }

 .right ul {
     list-style-type: none;
     display: inline-flex;

 }
